.shopping_cart{
    width: 100vw;
    height: 95vh;
    background-color: white;
    position: fixed;
    z-index: 105;
    top: 50px;
    right: 0px;
}
.content_panier{
    display: grid;
    grid-template-columns: 1.5fr 1fr 0.3fr;
    padding-bottom: 10px;
    padding-top: 2px;
    border-bottom: 1px solid grey;
}
.overall_panier{
    margin-left: 10px;
}
.prix_total{
    margin-top: 50px;
}
.button_panier{
    cursor: pointer;
}
.overall_panier h3{
    padding: 20px 0px;
}
@media only screen and (min-width: 800px){

    .shopping_cart{
        width: clamp(360px, 20vw, 500px);
    }
}