.men_best_seller_container{

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-x:hidden;
    overflow-y:hidden;
    position: relative;
}
.main_accueil{
    margin: 0px auto;
    width: 95%;
}
body::-webkit-scrollbar {
    width: 8px;             
}
  
body::-webkit-scrollbar-track {
background: rgb(255, 255, 255);
}
  
body::-webkit-scrollbar-thumb {
background-color: rgb(139, 139, 139);
border: 3px solid rgb(139, 139, 139);  
}
.container_carousel button{
color: white;
background-color: black;
height: 30px;
width: 30px;
border-radius: 100%;
position:absolute;
transform: translateY(clamp(150px, 10vw, 350px));
z-index: 5;
}
.container_carousel button:nth-of-type(2){
height: 30px;
position:absolute;
left: 92%;
transform: translateY(clamp(150px, 10vw, 350px));
z-index: 5;
}
.container_carousel div{
    transition: 0.5s;
}




@media only screen and (min-width: 800px){
    .container_carousel button:nth-of-type(2){
      left: 95vw;
    }
    .container_carousel button{
        color: white;
        background-color: black;
        height: 50px;
        width: 50px;
        border-radius: 100%;
        position:absolute;
        transform: translateY(clamp(150px, 10vw, 350px));
        z-index: 5;
        }
        .container_carousel button:nth-of-type(2){
        height: 50px;
        position:absolute;
        left: 95%;
        transform: translateY(clamp(150px, 10vw, 350px));
        z-index: 5;
        }
}