.men_best_seller_container{
    width: 1000%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-x:hidden;
    position: relative;
}
.main_accueil{
    margin-left: 20px;
}
body::-webkit-scrollbar {
    width: 8px;             
  }
  
  body::-webkit-scrollbar-track {
    background: rgb(255, 255, 255);
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: rgb(139, 139, 139);
    border: 3px solid rgb(139, 139, 139);  
  }