*{
    margin: 0%;
    padding: 0%;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
}
.head_mobile{
    background-color: pink;
    display: grid;
    grid-template-columns: 1fr 1.4fr;
}
nav{
    background-color:blue;
}
.menu{
    transform: translateX(-100%);
}