.card_container img{
    width: clamp(200px, 100%, 500px);
    height: auto;
}
.card_container{
    background-color: white;
    width: clamp(250px, 20vw, 400px);
    margin-right: 20px;
    margin-top: 30px;
    overflow-x: hidden;
    overflow-y: hidden;
    position: static;
}
.item_name{
    font-weight:bold;
}
.add_to_cart{
    height: 30px;
    text-align: center;
    background-color: rgb(31, 31, 31);
    color: white;
}
.add_to_cart:active{
    transition: 0.2s;
    background-color: rgb(255, 255, 255);
    transform: scale(1.1);
}
.add_to_cart:hover{
    cursor: pointer;
}
.item_price{
    padding: 5px 0px;
}